.brand {
    @include flex-block-space-flex();
}
.brand__heading-wrapper {
    background-color: var(--pink-color);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}
.brand__heading {
    position: relative;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}
.brand__heading:before {
    content: '';
    width: 12px;
    height: 100px;
    background: #F16D7F;
    position: absolute;
    left: -30px;
    top: -1px;
    background-size: 15px 15px;
}
.brand__heading--text {
    display: flex;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}
.brand__heading-text-pink {
    color: #F16D7F;
}