.header {
    background-color: $black-color;
}
.header__wrapper {
    min-height: 75px;
    @include flex-center-space-between ();
}
.header__logo1 {
    margin: 0 41px 0 0;
}
.header__menu-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header__nav {
    display: flex;
    position: relative;
    justify-content: flex-end;
}
.header__nav:before {
    content: "5";
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 90px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -7px;
}

.header__link {
    margin: 0 0 0 33px;
}
.header__navigation {
    display: none;
}
@media (max-width:$desktop-width){
    .header__link {
        margin: 0 0 0 22px;
    }
}

