.stocks__list {
    margin-top: 65px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .stocks__item {
        width: 360;
        min-height: 260;
        @include flex-stocks-space-flex();
    }
    .stocks__item--women {
        width: 360px;
        min-height: 260px;
        background-image: url(../img/woman.jpg);
    }
    .stocks__item-text{
        font-family: "lato";
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: #FFFFFF;
        text-transform:uppercase ;
    }
    .stocks__item-header {
        font-family: "lato";
        text-align: center;
        color: #F16D7F;
        line-height: 29px;
        width: 700;
        font-style: normal;
        font-size: 24px;
        text-transform: uppercase;
        width: 154px;
        min-height: 50px;
    }
    .stocks__item--men {
        width: 360px;
        min-height: 260px;
        background-image: url(../img/men.jpg);
    }
    .stocks__item--kids {
        width: 360px;
        min-height: 260px;
        background-image: url(../img/kids.jpg);
    }
    .stocks__item--accesories {
        margin-top: 30px;
        min-height: 180px;
        width: 100%;
        background-image: url(../img/accesories.jpg);
    }
    @media (max-width: $desktop-width){
        .stocks__item--men {
            width: 232px;
            min-height: 167px;
        }
        .stocks__item--kids {
            width: 232px;
            min-height: 167px;
        }
        .stocks__item--women{
        width: 232px;
            min-height: 167px;
        }
        .stocks__item--accesories {
            min-height: 116px;
            width: 100%;
        }
    }
}
